{% extends "website/base.html" %}
{% block content %}
{% load static %}
    <body>
        <div class="start" style="background-color: white">
            <h1 id="matter" style="padding-top:160px;">Know the status of your websites</h1>
            <button style="background-color:aqua; margin-left:670px; margin-top: 50px; width: 200px; height: 50px; font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; border-radius: 10px;">Start Monitoring</button>
            <p style="margin-left:665px">*Monitor your websites by signup</p>
        </div>
        <div class="how">
            <h2 id="monitor" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600; padding-top: 100px;
        ">How can you monitor your websites?</h2>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif; padding-right: 150px; font-size: 18px;
        ">If you want to know the status of only one website, You can enter your website url directly. If you want to know the status of more than one website, You can give a list of websites in the form of a text file. You will be notified for all your websites to the email or gchat or teams.</p>
        </div>
        <div style="padding-left: 700px; margin-top: -225px;">
            <img src="{% static 'website\websites.jpg' %}" class="thumbnail" alt="list of webistes"> 
        </div>

        <div style="padding-left: 500px; padding-top: 100px; border: 1px solid white; background-color: white; width: 1430px; margin-left: -150px; margin-top: 60px;">
            <h1 style="font-weight:800; padding-inline-start: 30px;">sign up here</h1>
        </div>
                
           
        <form>
            {% csrf_token %}
            <label for="upload">Upload the file</label>
            <input type="file" id="upload" name="upload" required><br><br>
            
            <label for="duration">Duration</label>
            <select name="duration" id="duration" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> <br>
            
            <p>Notify to</p>
            <input type="radio" id="email" name="alert" Value="Email">
            <label for="alert">Email</label><br>
            <input type="radio" id="gchat" name="alert" Value="Googlechat">
            <label for="alert">Google Chat</label><br>
            <input type="radio" id="teams" name="alert" Value="Teams">
            <label for="alert">Teams</label><br><br>

            <label for="pause">Pause alerts</label>
            <select name="pause" id="pause" required>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">30</option>
                <option value="30">40</option>
            </select> <br><br>
        </form>
        <button type="button" onclick="alert('Submitted')">Start Monitoring</button>
    </body>
{% endblock content%}