{% extends "website/base.html" %}
{% block content %}
{% load static %}
    <body>
        <div class="start">
            <h1 id="matter">Know the status of your websites</h1>
            <button type="button" class="btn btn-info" id="smon">Start Monitoring</button>
            <p style="margin-left:587px">*Monitor your websites by signing up</p>
        </div>
        <div class="how">
            <h2 id="monitor" style="padding-right: 150px;">Why do we need a Website Monitoring Application?</h2>
            <p id="ans" style="text-align: left;">Websites eventually get up and down. When you go with a website, you want to know the status of that particular website. It will be easy to notify you through your social network rather than checking the websites by opening them. You can know the status of a single website or a list of websites at a time. The website's checking will be your choice of duration (0-5 minutes).</p>
        </div>
        <div style="padding-left: 700px; margin-top: -225px;">
            <img src="{% static 'website\websites.jpg' %}" class="thumbnail" alt="list of websites"> 
        </div>
        <div class="alert" style="background-color: white;">
            <h2 id="galert" style="padding-right: 150px;">Get alerts of your choice</h2>
            <p id="answer" style="text-align: left;">If a website becomes unavailable or slow down you should know within a time. This application will send alerts through email, googlechat or teams. Automate tasks using web hooks to start external actions.</p>
        </div>
        <div class="sign">
            <h1 id="create">Create an account</h1>
            <button type="button" class="btn btn-success" id="act">Sign up</button>
        </div>
                
    </body>
{% endblock content%}