{% extends "dashboard/dash_base.html" %}
{% block content %}
{% load static %}
   <div style="text-align:center; padding-left: 250px; margin-top: 250px; margin-right: -150px; margin-bottom: 295px;">
      <h1 style="font-weight: 600; color:black">About us</h1><br>
      <div style="border: 2px solid black;"></div>
      <p style="font-size: 25px; margin-top: 50px;">This is an application that checks the status and downtime of urls for every 0-5 mins duration of time. Users get alerts when the webiste downs for their emails, googlechat and teams.</p>
   </div>
{% endblock content %}