{% extends "dashboard/dash_base.html" %}
{% block content %}
{% load static %}
<body>
    <div class="index">
    </div>
    <form method="post" enctype="multipart/form-data" action="uploadTxt">
        {% csrf_token %}
        <h2 style="color: black; text-align: center; font-weight: 600;">Add Tasks</h2>
        <div>
        <label for="file1">Drop your file</label>
        <input type="file" id="file1" name="file1" accept="text/plain"> </div>
        <div class="slider" id="slider_value">
            <label for="fader">Check website for every  _  mins</label>
            <input type="range" min="1" max="5" value="1" id="fader" name="fader"
            step="1" list="volsettings">
            <datalist id="volsettings">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            
            </datalist>
        </div>

        <div>
            <label for="optradio">Send alerts to</label>
            <fieldset data-role = "controlgroup" data-type = "horizontal" id="alerts_to" name="alerts_to">
                <input type = "radio" id="optradioe" name="optradios" value="email" />
                <label for = "optradioe"  style="font-size: 15px;">Email</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
                <input type = "radio" id="optradiog" name="optradios" value="chat"/>
                <label for = "optradiog"  style="font-size: 15px;">Google Chat</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
                <input type = "radio" id="optradiot" name="optradios" value="teams" />
                <label for = "optradiot"  style="font-size: 15px;">Teams</label>
             </fieldset>
        </div>
        <div>
            <label for="url">Enter appropriate Webhook URL</label>
            <input type="url" id="w_url" name="w_url" placeholder="Enter webhook url">
        </div>
        
        <!--div>
            <label for="url" >Enter GoogleChat Webhook URL</label>
            <input type="url" id="web_url" placeholder="Enter webhook url">
        </div>
     
        <div>
            <label for="url">Enter Teams Webhook URL</label>
            <input type="url" placeholder="Enter webhook url">
        </div-->
    
        <div>
        <label for="pause">Pause alerts for</label>
        <fieldset data-role = "controlgroup" data-type = "horizontal" id="alert_res" name="alert_res">
            <input type="radio" name="optradio1" value="15">
            <label for="opt11">15 mins</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="optradio1" value="20">
            <label for="opt21">20 mins</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="optradio1" value="25">
            <label for="opt31">25 mins</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="optradio1" value="30">
            <label for="opt41">30 mins</label>
          
          </fieldset>
          </div>
        <br>
        <button id="dash_but" type="submit" style="color: black;">Start Monitoring</button>
    </form>
    
</div>

<script>
    var email =  document.getElementById("alerts_to").value
    console.log(email+"hi");
</script>

</body>
{% endblock content %}