{% extends "dashboard/dash_base.html" %}
{% block content %}
{% load static %}
<body>
<form>
    {% csrf_token %}
    <label for="upload">Upload the file</label>
    <input type="file" id="upload" name="upload" required><br><br>
    
    <label for="duration">Duration</label>
    <select name="duration" id="duration" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select> <br>
    
    <p>Notify to</p>
    <input type="radio" id="email" name="alert" Value="Email">
    <label for="alert">Email</label><br>
    <input type="radio" id="gchat" name="alert" Value="Googlechat">
    <label for="alert">Google Chat</label><br>
    <input type="radio" id="teams" name="alert" Value="Teams">
    <label for="alert">Teams</label><br><br>

    <label for="pause">Pause alerts</label>
    <select name="pause" id="pause" required>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">30</option>
        <option value="30">40</option>
    </select> <br><br>
</form>
<button type="button" onclick="alert('Submitted')">Start Monitoring</button>
</body>
{% endblock content %}