form{
  height: 700px;
  width: 600px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  margin-top: 400px;
  margin-left:100px;
}
form *{
  font-family: 'Poppins',sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
label{
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

::placeholder{
  color: #e5e5e5;
}
button{
  margin-top: 50px;
  width: 100%;
  background-color: burlywood;
  color: black;
  padding: 15px 0;
  font-size: 30px;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
}
input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input[type=file]::file-selector-button {
  background: #0d45a5;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
